---
layout: layouts/home.njk
eleventyNavigation:
  key: Form
  order: 5
---

<h1>Please fill out the form below</h1>
<form name="contact" method="POST" data-netlify="true" class="row g-3 needs-validation" novalidate><br>
    <div class="col-md-3">
        <label for="fname" class="form-label">First Name:</label>
        <input type="text" class="form-control" id="fname" name="fname" required>
        <div class="invalid-feedback">
            Please enter your First Name.
        </div>
    </div>
    <div class="col-md-3">
        <label for="surname" class="form-label">Surname:</label>
        <input type="text" class="form-control" id="surname" name="surname" required>
        <div class="invalid-feedback">
            Please enter your Surname.
        </div>
    </div>
    <div class="col-md-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
        <div class="invalid-feedback">
            Please enter an Email.
        </div>
    </div>
    <div class="col-md-9">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" name="message" rows="5" cols="30" required></textarea>
        <div class="invalid-feedback">
            Please enter your message.
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="termCheck" required>
            <label class="form-check-label" for="termCheck">
                Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <div class="col-12">
        <input type="submit" value="Submit">
    </div>
</form>
<script>
    (() => {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document
            .querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array
            .from(forms)
            .forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>